.page.theme_dark {
  --text-color: #F1B2CE;
  --h4-color: #000028;
  --h1-color: #DB00FF;
  --accent-color: #FF0070;
  --h3-color: #ff0070;
  --hb-color: #ff0070;
  background: url(../images/cover-image-dark.png) no-repeat center / cover;
  background-attachment: fixed;
}

 .rec {
  position: absolute;
  top: var(--padding-mobile);
  right: calc(var(--padding-mobile) + var(--decoration-element) + 3px);
  font-family: var(--main-font), sans-serif;
  line-height: 25px;
}

.rec::before {
  content: 'rec';
  font-size: 18px;
  font-weight: 400;
  color: var(--h3-color);
  text-transform: uppercase;
}
.rec::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid var(--h3-color);
  border-radius: 50%;
  background: var(--h3-color);
  box-shadow: 0 0 4px 4px var(--h3-color);
  margin-left: 10px;
  position: absolute;
  top: 9px
}

@media (width >= 768px) {
  .rec {
    right: calc(var(--padding-desktop) + var(--decoration-element) + 3px);
    top: var(--padding-desktop)
  }
}

