.page.theme_light {
  --text-color: #353430;
  --paragraph-color: #353430;
  --header-title--color: #ffc2e6;
  --accent-color: #ff0070;
  --section-color: #353430;
  --hb-color: #ff8dcb;
  --bg-color: #fff1f7;
  --hover-color: #35343080;
  --background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --paragraph-color: #353430;
    --header-title--color: #ffc2e6;
    --accent-color: #ff0070;
    --section-color: #353430;
    --hb-color: #ff8dcb;
    --bg-color: #fff1f7;
    --hover-color: #35343080;
    --background-image: url(../images/cover-image-light.png);
  }

  .rec {
    display: none;
  }
}

.page.theme_light .rec {
  display: none;
}
