.page.theme_light {
  --text-color: #353430;
  --h4-color: #353430;
  --h1-color: #FFC2E6;
  --accent-color: #FF0070;
  --h3-color: #353430;
  --hb-color: #ff8dcb;
 background: url(../images/cover-image-light.png) no-repeat center / cover;
  background-attachment: fixed;
}
.page.theme_light .rec { 
  display: none
}