.page.theme_light {
  --text-color: #353430;
  --h4-color: #353430;
  --header-title--color: #FFC2E6;
  --accent-color: #FF0070;
  --section-color: #353430;
  --hb-color: #ff8dcb;
  --bg-color: #FFF1F7;
  --hover-color: #35343080;
  --background-image:url(../images/cover-image-light.png);
}

.page.theme_light .rec {
  display: none
}