.page {
  background: url(../images/cover-image-dark.png) no-repeat center / cover;
  background-attachment: fixed;
  background-color: var(--bg-color)
}
  
.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  position: relative;
  min-height: 100vh;
  padding: var(--padding-mobile);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}
 
.header__theme-menu-list {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  font-family: var(--main-font), sans-serif;
  color: var(--h3-color);
  border: 1px solid transparent;
  background-color: transparent;
  text-transform: lowercase;
  font-size: var(--font-size);
  padding: 0 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--h3-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--h3-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--h3-color);
}

.decorated-zone::before,
  .decorated-zone::after {
    content: '';
    width: var(--decoration-element);
    height: var(--decoration-element);
    position: absolute;
  }

  .decorated-zone::before {
    border-block-start: 1px solid var(--h3-color);
    border-inline-end: 1px solid var(--h3-color);
    right: var(--padding-mobile);
    top: var(--padding-mobile);
  }

  @media ( width >= 768px) {
    .decorated-zone::before {
      right: var(--padding-desktop);
      top: var(--padding-desktop)
    }
  }

  .decorated-zone::after {
    border-block-end: 1px solid var(--h3-color);
    border-inline-start: 1px solid var(--h3-color);
    left: var(--padding-mobile);
    bottom: var(--padding-mobile);
  }

  @media ( width >= 768px) {
    .decorated-zone::after {
      left: var(--padding-desktop);
      bottom: var(--padding-desktop)
    }
  }

  .header__title {
    font-family: var(--main-font), sans-serif;
    text-shadow: 4px 4px 0 var(--accent-color);
    color: var(--h1-color);
    font-weight: var(--h-font-weight);
    line-height: 82.5%
  }

  @media (width >= 768px) {
    .header__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
  }

  @media (375px <= width < 768px) {
    .header__title {
      font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
      margin-inline-start: 0;
    }
  }

  .header__paragraph {
    font-family: var(--main-font), sans-serif;
    align-self: center;
    justify-self: end;
    inline-size: clamp(355px, 47.50vw, 491px);
    font-weight: var(--h-font-weight);
  }

  .title-decor {
    background-color: var(--hb-color);
    color: var(--h4-color);
    line-height: var(--line-height);
    font-size: var(--font-size);
    font-family: var(--main-font), sans-serif;
  }

  .main {
    margin-block: 40px;
  }

  @media (width >= 768px) {
    .main {
      margin-block: 60px;
    }
  }

  .section__title-decor {
    font-family: var(--main-font), sans-serif;
    font-weight: var(--h-font-weight);
    font-size: var(--font-size);
    color: var(--h3-color);
    line-height: var(--line-height)
  }

  .title__paragraph-decor {
    font-family: var(--main-font), sans-serif;
    font-weight: var(--p-font-weight);
    font-size: var(--font-size);
    color: var(--h4-color);
    line-height: var(--line-height);
    background-color: var(--hb-color);
  }

  .aticle__paragraph-decor {
    font-family: var(--main-font), sans-serif;
    color: var(--text-color);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--p-font-weight);
    margin-block-start: 10px;
  }

  .section__block {
    display: grid;
    gap: 20px;
    padding-inline: var(--padding-mobile);
  }

  .section__block:nth-child(n+2) {
    margin-block-start: 50px;
  }
  
  @media (width >= 768px) {
    .section__block {
      padding-inline: var(--padding-desktop);
    }
  
    .section__block:nth-child(n+2) {
      margin-block-start: 80px;
    }

    .section__block:nth-child(1) {
      grid-template-columns: 1fr 2fr;
    }

    .section__block:nth-child(2) {
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr 2fr;
    }

    
    .section__block:nth-child(2) .section__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      grid-column: 2;
    }

    .section__block:nth-child(3) {
      grid-template-columns: 1fr 2fr;
      grid-template-rows: repeat(2, minmax(min-content, max-content));
    }
    

    .section__block:nth-child(3) .section__list {
      grid-column: 2;
    }

    .section__block:nth-child(3) .section__title {
      grid-row-start: 1;
      grid-row-end: 3;
    }
  }
  
  .section__list {
    display: grid;
    gap: 20px;
  }


  .picture__image {
    max-inline-size: 100%;
    min-block-size: 100%;
    object-fit: cover;
    object-position: center;
  }

  .picture__list {
    display: grid;
    gap: 20px;
  }

  @media (width >= 768px) {
    .picture__list {
      grid-template-columns: repeat(3, 1fr);
    }

    .picture__list-item:nth-of-type(1) {
      grid-area: 1/1/2/3;
      
    }
  
    .picture__list-item:nth-of-type(2) {
     grid-area: 1/3/3/4;
    }
  
    .picture__list-item:nth-of-type(3) {
      grid-area: 2/1/4/2;
    }
  
    .picture__list-item:nth-of-type(4) {
      grid-area: 3/2/4/4;
    }
  
    .picture__list-item:nth-of-type(5) {
      grid-area: 2/2/3/3;
    }
  }

  .footer {
    position: relative;
    display: grid;
    min-height: 100vh;
    padding: var(--padding-mobile);
  }

  .footer__title {
    font-family: var(--main-font), sans-serif;
    text-shadow: 4px 4px 0 var(--accent-color);
    justify-self: center;
    color: var(--h1-color);
    font-weight: var(--h-font-weight);
    align-self: center;
  }

  @media (375px <= width < 768px) {
    .footer__title {
      font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }
  }

  @media (width >= 768px) {
    .footer {
      padding: var(--padding-desktop);
    }

    .footer__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
  }

  .text-hadow {
    text-shadow: 2px 2px 0 var(--hb-color);
    text-decoration: none;
  }

 
  .text-hadow:focus {
    outline: 1px solid var(--text-color);
    
  }
  .text-hadow:hover {
    border-block-end: 1px solid var(--text-color);
  }