:root {
  --padding-mobile: 10px;
  --padding-desktop: 20px;
  --main-font: 'IBM Plex mono';
  --slave-font: 'monospace';
  --font-size: 18px;
  --h-font-weight: 700;
  --p-font-weight: 400;
  --line-height: 23.4px;
  --text-color: #F1B2CE;
  --paragraph-color: #000028;
  --header-title--color: #DB00FF;
  --accent-color: #FF0070;
  --section-color: #ff0070;
  --hb-color: #ff0070;
  --decoration-element: 25px;
  --bg-color: #000028;
  --hover-color: #ff007080;
  --font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --background-image: url(../images/cover-image-dark.png);
}

